<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>COMMONSWORDL_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,33}}</string>
                <key>sourceSize</key>
                <string>{42,33}</string>
            </dict>
            <key>COMMONSWORDL_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,2},{42,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,33}}</string>
                <key>sourceSize</key>
                <string>{42,33}</string>
            </dict>
            <key>COMMONSWORDL_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{42,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,33}}</string>
                <key>sourceSize</key>
                <string>{42,33}</string>
            </dict>
            <key>COMMONSWORDL_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{42,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,33}}</string>
                <key>sourceSize</key>
                <string>{42,33}</string>
            </dict>
            <key>COMMONSWORDR_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,37},{42,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,33}}</string>
                <key>sourceSize</key>
                <string>{42,33}</string>
            </dict>
            <key>COMMONSWORDR_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,37},{42,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,33}}</string>
                <key>sourceSize</key>
                <string>{42,33}</string>
            </dict>
            <key>COMMONSWORDR_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,37},{42,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,33}}</string>
                <key>sourceSize</key>
                <string>{42,33}</string>
            </dict>
            <key>COMMONSWORDR_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,37},{42,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,33}}</string>
                <key>sourceSize</key>
                <string>{42,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sword-animations.png</string>
            <key>size</key>
            <string>{179,72}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8bf14a90b59e75a8fd701e0b727c343e:6030cd7e31934260daf7722a08407d86:5999344640c8eedcf33a5da02c63a867$</string>
            <key>textureFileName</key>
            <string>sword-animations.png</string>
        </dict>
    </dict>
</plist>
